.section-hero {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url('../../../public/assets/images/hero/hero-bg-mob.jpg');
  background-repeat: no-repeat;
  background-size:
    auto 287px,
    cover,
    cover;
  background-position: top, center, center;
  background-color: #d9d9d9;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section {
    background-image: linear-gradient(rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('../../../public/assets/images/hero/hero-bg-mob@2x.jpg');
  }
}

@media (min-width: 320px) {
  .section-hero {
    background-image: linear-gradient(rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('../../../public/assets/images/hero/hero-bg.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section {
      background-image: linear-gradient(
          rgba(0, 24, 38, 0.75),
          rgba(0, 37, 49, 0)
        ),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url('../../../public/assets/images/hero/hero-bg@2x.jpg');
    }
  }
}

@media (min-width: 1280px) {
  .section-hero {
    max-width: 1440px;
    background-size:
      auto 146px,
      cover,
      cover;
    background-image: linear-gradient(rgba(0, 24, 38, 0.5), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('../../../public/assets/images/hero/hero-bg-desk.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section {
      background-image: linear-gradient(
          rgba(0, 24, 38, 0.75),
          rgba(0, 37, 49, 0)
        ),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url('../../../public/assets/images/hero/hero-bg-desk@2x.jpg');
    }
  }
}
