.section-about {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url('../../../public/assets/images/about/bg-about-m-320.jpg');
  background-repeat: no-repeat;
  background-size:
    auto 247px,
    cover,
    cover;
  background-position: top, center, center;
  background-color: #d9d9d9;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-about {
    background-image: linear-gradient(rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('../../../public/assets/images/about/bg-about-m-320@2x.jpg');
  }
}

@media (min-width: 321px) {
  .section-about {
    background-image: linear-gradient(rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('../../../public/assets/images/about/bg-about-m-480.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-about {
      background-image: linear-gradient(
          rgba(0, 24, 38, 0.75),
          rgba(0, 37, 49, 0)
        ),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url('../../../public/assets/images/about/bg-about-m-480@2x.jpg');
    }
  }
}

@media (min-width: 481px) {
  .section-about {
    background-image: linear-gradient(rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('../../../public/assets/images/about/bg-about-tab.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-about {
      background-image: linear-gradient(
          rgba(0, 24, 38, 0.75),
          rgba(0, 37, 49, 0)
        ),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url('../../../public/assets/images/about/bg-about-tab@2x.jpg');
    }
  }
}

@media (min-width: 769px) {
  .section-about {
    background-size:
      auto 146px,
      cover,
      cover;
    background-image: linear-gradient(rgba(0, 24, 38, 0.5), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      url('../../../public/assets/images/about/bg-about-desk.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-about {
      background-image: linear-gradient(
          rgba(0, 24, 38, 0.75),
          rgba(0, 37, 49, 0)
        ),
        linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
        url('../../../public/assets/images/about/bg-about-desk@2x.jpg');
    }
  }
}
