.section-contacts {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 24, 38, 1), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(0, 37, 49, 0), rgba(0, 24, 38, 1)),
    linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url('../../../public/assets/images/contacts/bg-mob.jpg');
  background-repeat: no-repeat;
  background-size:
    auto 247px,
    auto 247px,
    cover,
    cover;
  background-position: top, bottom, center, center;
  background-color: #0a1813;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-contacts {
    background-image: linear-gradient(rgba(0, 24, 38, 1), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(0, 37, 49, 0), rgba(0, 24, 38, 1)),
      linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      url('../../../public/assets/images/contacts/bg-mob@2x.jpg');
  }
}

@media (min-width: 321px) {
  .section-contacts {
    background-image: linear-gradient(rgba(0, 24, 38, 1), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(0, 37, 49, 0), rgba(0, 24, 38, 1)),
      linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      url('../../../public/assets/images/contacts/bg-tab.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-contacts {
      background-image: linear-gradient(rgba(0, 24, 38, 1), rgba(0, 37, 49, 0)),
        linear-gradient(rgba(0, 37, 49, 0), rgba(0, 24, 38, 1)),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url('../../../public/assets/images/contacts/bg-tab@2x.jpg');
    }
  }
}

@media (min-width: 769px) {
  .section-contacts {
    background-image: linear-gradient(rgba(0, 24, 38, 1), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(0, 37, 49, 0), rgba(0, 24, 38, 1)),
      linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      url('../../../public/assets/images/contacts/bg-desk.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-contacts {
      background-image: linear-gradient(rgba(0, 24, 38, 1), rgba(0, 37, 49, 0)),
        linear-gradient(rgba(0, 37, 49, 0), rgba(0, 24, 38, 1)),
        linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
        url('../../../public/assets/images/contacts/bg-desk@2x.jpg');
    }
  }
}
